.menus {
  background-color: #f6f6f6;
  h2 {
    padding: 1rem;
    margin-bottom: 0;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .menus_cards {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 3rem;

    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: 2rem;
      justify-content: center;

      & .card {
        display: grid;
      }
    }

    .new {
      position: relative;
    }

    .new::before {
      content: "Nouveau";
      position: absolute;
      height: 2.1rem;
      width: 5.5rem;
      color: #1b6150;
      background-color: #99e2d0;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 1rem;
      top: 1rem;
      border-radius: 0.2rem;
    }
  }
  .card {
    padding-bottom: 1rem;

    &_img {
      height: 12rem;
      width: 100%;
      border: 0 solid transparent;
      border-radius: 1rem 1rem 0 0;
      box-shadow: none;
      object-fit: cover;
    }

    &_description {
      background: white;
      position: relative;
      margin: 0rem;
      border-radius: 0 0 2rem 2rem;
      padding: 0.5rem;
      position: relative;
      h3 {
        margin: 0.5rem;
      }
      p {
        margin: 0.5rem;
      }

      i {
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }

      .fas {
        color: transparent;
        background-image: linear-gradient(#ff79da, #9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: 0.5s;
        transition-duration: 0.75s;
      }
      .fas:hover {
        opacity: 1;
        transform: scale(1.1) translateY(-45%);
      }
    }
  }
}
a {
  text-decoration: none;
  color: white;
}
