@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  margin: 0;
  font-family: "roboto", sans-serif; }

*,
::before,
::after {
  box-sizing: border-box; }

h1 {
  margin: 0em;
  padding: 0.3em; }

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  font-size: 0.8rem; }

.explore {
  padding: 2rem;
  background-color: #fafafa;
  text-align: center; }
  .explore h2 {
    font-size: 1.5rem; }
  .explore p {
    font-size: 1rem; }
  .explore button {
    color: white;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background-image: linear-gradient(#ff79da, #9356dc);
    margin-top: 0.5rem; }

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0em 0.15em 0.1em grey;
  padding: 0rem;
  position: relative; }

.functioning {
  counter-reset: counter; }
  .functioning h2 {
    padding: 1rem;
    margin-bottom: 0;
    padding-bottom: 0; }
  .functioning ol {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 0; }
  .functioning li {
    position: relative;
    background-color: #f6f6f6;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 0.5rem;
    list-style-type: none;
    box-shadow: 4px 4px 4px #7e7e7e; }
    .functioning li::before {
      content: "" counter(counter);
      counter-increment: counter;
      color: white;
      background-color: #9356dc;
      width: 1.5rem;
      height: 1.5rem;
      display: grid;
      place-items: center;
      border-radius: 50%;
      position: absolute;
      left: -0.8rem; }
  .functioning i.fas {
    margin-right: 1rem;
    color: #7e7e7e; }

.menus {
  background-color: #f6f6f6; }
  .menus h2 {
    padding: 1rem; }

.menus_cards {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 3rem; }
  .menus_cards .new {
    position: relative; }
  .menus_cards .new::before {
    content: "Nouveau";
    position: absolute;
    height: 2rem;
    width: 5rem;
    background-color: #99e2d0;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1rem;
    top: 1rem;
    border-radius: 0.5rem; }

.card_img {
  border-radius: 2rem 2rem 0 0;
  background-size: cover;
  height: 15rem; }

.card_img-1 {
  background-image: url("/img/menu-1.jpg"); }

.card_img-2 {
  background-image: url("/img/menu-2.jpg"); }

.card_img-3 {
  background-image: url("/img/menu-3.jpg"); }

.card_img-4 {
  background-image: url("/img/menu-4.jpg"); }

.card_description {
  background: white;
  position: relative;
  margin: 0rem;
  border-radius: 0 0 2rem 2rem;
  padding: 0.5rem;
  position: relative; }
  .card_description h3 {
    margin: 0.5rem; }
  .card_description p {
    margin: 0.5rem; }
  .card_description i {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%); }

footer {
  background-color: #353535;
  padding: 1.5rem;
  color: white; }
  footer h2 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem; }
  footer p {
    margin: 0.5rem;
    margin-left: 0; }
  footer i {
    margin-right: 0.5rem; }
