@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body{
    margin: 0px;
}
header{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0em 0.15em 0.1em grey;
    padding: 0.3rem;
}